{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau personnage{% endblock %}

{% block body %}
<div class="d-flex p-5 flex-column align-items-center justify-content-center">
    <div class="w-50">
        <h1>Créer un nouveau personnage</h1>

        {{ include('character/_form.html.twig') }}

        <a href="{{ path('character_index_html') }}">Retour à la liste</a>
    </div>
</div>
{% endblock %}
